<p>
I'am servers component iand I hold servers component
</p>

<div class=newServerBox>

<label>Server name:</label>
  <input type="text" class="form-control" (input)="onUpdateServerName($event)">
  <input type="text" class="form-control" [(ngModel)]="newServerName">

<p>New Server name: {{ newServerName }}</p>

  <button type='button' name='button' class="btn btn-primary"[disabled]="!allowNewServer" (click)='onAddNewServer'>Add new Server></button>




  <p> *ngIf= "serverCreated; else serverNotCreated"> {{serverCreationStatus}}</p>
    <ng-template #serverNotCreated>
      <p>There was no new servers yet</p>
      <ng-template</>


</div>

<app-server></app-server>
<app-server></app-server>
<app-server></app-server><
